.footer {
    display: flex;
    flex-direction: column;
    background-color: map-get($colors,--clr-primary, 400);
    text-align: center;

    & h3 {
        color: map-get($colors, --clr-neutral, off-white);
        text-transform: uppercase;
        margin: 8px;
        letter-spacing: 3px;

        @include desktop {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    @include desktop {
        flex-direction: row;
    }
}

.footer--left {
    flex: 1;
    padding: 1.5rem 0 1.5rem 0;
    margin-right: 12px;
}

.footer li {
    padding-bottom: 1rem;
    color: map-get($colors, --clr-neutral, off-white);
}

.footer__link {
    margin-left: 0.5rem;
}

.fa-envelope,
.fa-mobile-alt {
    margin-right: 0.5rem;
}

.footer--right {
    flex: 1.34;
    background-color: map-get($colors,--clr-primary, 300);
    padding: 1.5rem 0 1.5rem 0;
}

.footer--left,
.footer--right {
    @include desktop {
        padding: 3rem 0 0.5rem 0;
    }
}

.copyright {
    text-align: center;
    font-weight: bold;
    margin: 0.5rem auto;
}